html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background: #081dd6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.form {
    display: grid;
    row-gap: 15px;
}

.form__element {
    display: grid;
}
