html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background: #081dd6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.form {
}

.form__input {
    display: block;
    width: 100%;
}

.form__submit {
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    color: #081dd6;
    padding: 10px;
    box-shadow: 0 0 10px #fff;
}
